
body {
    height: 100%;
    margin: 0;
    padding: 0;
    align-items: center;
    background-image: linear-gradient(to bottom right, rgb(253, 129, 14), rgb(253, 229, 14));
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Lilita One;
    font-size: 20px;
    color: #F93822FF;
}

.tab {
  font-family: Lilita One;
  font-size: 20px;
  color: #F93822FF;
  display: none;
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
    text-align: center;
}

.custom-button {
  background-color: #F93822FF;
  border: none;
  color: rgb(255, 255, 255);
  padding: 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  border-radius: 10px;
  font-family: 'Lilita One';
  font-size: 30px;
}

.custom-button:hover {
    animation: shake 0.5s;
    cursor: pointer;
}

.columns {
position: relative;
background-color: #F93822FF;
border: 1mm ridge black;
font-family: Georgia, serif;
color: rgb(255, 255, 255);
}

#svg-title {
  width: 70%;
  height: auto;
}

#svg-logo {
  width: 10%;
  height: auto;
}


/* TABELLA */

.container {
    margin: 0 auto; 
    width: 90%; 
}

table {
    width: 100%;
}

@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {
    
    table, thead, tbody, th, td, tr {
         display: block;
    }

    thead tr {
         position: absolute;
         top: -9999px;
         left: -9999px;
    }

    tr {
         border-radius: 10px;
         margin: 0 0 2rem 0;
    }

    tr:nth-child(odd) {
         background: #F93822FF;
    }

    tr:nth-child(even) {
         background: rgb(255, 77, 57);
    }

    td {
         border: none;
         position: relative;
         padding-left: 50%;
         color: white;
         text-align: center;
         text-decoration: none;
         font-family: 'Lilita One';
         font-size: 15px;
    }

    td:before {
         position: absolute;
         top: 0;
         left: 6px;
         width: 45%;
         padding-top: 5px;
         padding-right: 10px;
         white-space: nowrap;
    }
   
    td:nth-of-type(1):before {
         content: "Nome";
    }

    td:nth-of-type(2):before {
         content: "Indirizzo";
    }

    td:nth-of-type(3):before {
         content: "Voto";
    }

    td:nth-of-type(4):before {
         content: "Recensioni";
    }
   
    td:nth-of-type(5):before {
         content: "Distanza";
    }
}


/* MEDIA QUERIES */

@media (min-width: 768px) {
  #svg-title {
    width: 100%;
    margin: 2%;
  }

  #svg-logo {
    width: 18%;
    margin: 2%;
  }
}

/* ANIMATIONS */
@keyframes shake {
  0% { transform: translate(1px, 1px) rotate(0deg); }
  10% { transform: translate(-1px, -2px) rotate(-1deg); }
  20% { transform: translate(-3px, 0px) rotate(1deg); }
  30% { transform: translate(3px, 2px) rotate(0deg); }
  40% { transform: translate(1px, -1px) rotate(1deg); }
  50% { transform: translate(-1px, 2px) rotate(-1deg); }
  60% { transform: translate(-3px, 1px) rotate(0deg); }
  70% { transform: translate(3px, 1px) rotate(-1deg); }
  80% { transform: translate(-1px, -1px) rotate(1deg); }
  90% { transform: translate(1px, 2px) rotate(0deg); }
  100% { transform: translate(1px, -2px) rotate(-1deg); }
}
